body {
	color: white;
	font-family: "Quicksand", Arial, sans-serif;
	padding: 0px 50px 0px;
	
	background: url("images/nyc4.jpg");
	background-size: cover;
	background-image:
	linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	),
	url("images/nyc4.jpg");
	background-repeat: repeat-x;
	background-attachment: fixed;
}

h1 {
	text-align: center;
	margin: 140px auto 0px;
	font-size: 90px;
	font-family: "Great Vibes";
}

h2 {
	text-align: center;
	margin: 25px auto 0px;
	font-size: 20px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #CCCCCC;
}

.buttons {
	width: 295px;
	margin: 150px auto 0px;
	padding: 0px;
}

.buttons a {
	padding: 0px;
	margin: 0px;
}

.buttons img {
	width: 50px;
	margin: 0px;
	padding: 10px 10px 10px;
}

#home-w img:hover {
	content: url('images/House_Logo_gray.png');
}
#mail-w img:hover {
	content: url('images/Mail_Logo_gray.png');
}
#github-w img:hover {
	content: url('images/Github_Logo_gray.png');
}
#link-w img:hover {
	content: url('images/Linkedin_Logo_gray.png');
}
#spotify-w img:hover {
	content: url('images/Spotify_Logo_gray.png');
}

#home-g img:hover {
	content: url('images/House_Logo_white.png');
}
#mail-g img:hover {
	content: url('images/Mail_Logo_white.png');
}
#github-g img:hover {
	content: url('images/Github_Logo_white.png');
}
#link-g img:hover {
	content: url('images/Linkedin_Logo_white.png');
}
#spotify-g img:hover {
	content: url('images/Spotify_Logo_white.png');
}
