body {
	color: white;
	font-family: "Quicksand", Arial, sans-serif;
	padding: 0px 50px 0px;
	
	background: url("images/nyc4.jpg");
	background-size: cover;
	background-image:
	linear-gradient(
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.25)
	),
	url("images/nyc4.jpg");
	background-repeat: repeat-x;
	background-attachment: fixed;
}

#nav {
	padding: 5px 50px 5px;
	font-size: 16px;
	text-transform: uppercase;
}

#nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#nav li {
	display: inline;
	padding: 0px 10px 0px;
	vertical-align: middle;
}

#nav li a {
	color: #CCCCCC;
	text-decoration: none;
}

#nav li a:hover {
	color: white;
	text-decoration: none;
}

#nav img {
	height: 16px;
}

.right {
	margin: 0px;
	padding: 0px;
	float: right;
}

#nav .right img {
	height: 20px;
}

h1 {
	text-align: center;
	margin: 70px auto 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 75px;
	font-family: "Great Vibes";
}

.buttons {
	width: 370px;
	margin: 130px auto 0px;
	padding: 0px;
}

.buttons a {
	padding: 0px;
	margin: 0px;
}

.buttons img {
	width: 50px;
	margin: 0px;
	padding: 10px 10px 10px;
}

#home-w img:hover {
	content: url('images/House_Logo_gray.png');
}
#mail-w img:hover {
	content: url('images/Mail_Logo_gray.png');
}
#github-w img:hover {
	content: url('images/Github_Logo_gray.png');
}
#link-w img:hover {
	content: url('images/Linkedin_Logo_gray.png');
}
#spotify-w img:hover {
	content: url('images/Spotify_Logo_gray.png');
}

#home-g img:hover {
	content: url('images/House_Logo_white.png');
}
#mail-g img:hover {
	content: url('images/Mail_Logo_white.png');
}
#github-g img:hover {
	content: url('images/Github_Logo_white.png');
}
#link-g img:hover {
	content: url('images/Linkedin_Logo_white.png');
}
#spotify-g img:hover {
	content: url('images/Spotify_Logo_white.png');
}
