body {
	background-color: black;
	color: white;
	font-family: "Quicksand", Arial, sans-serif;
}

h1 {
	background-color: green;
	text-align: center;
	margin: 0px auto 0px;
	padding-top: 100px;
	padding-bottom: 50px;
	font-size: 70px;
}

table {
	border: none;
	margin: 0px 50px 0px;
	padding: 30px;
}
