body {
	font-family: "Quicksand", Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	
}

#nav {
	margin: 0px;
	padding: 5px 100px 5px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #AAAAAA;
}

#nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#nav li {
	display: inline;
	padding: 0px 10px 0px;
	vertical-align: middle;
}

#nav li a {
	color: #CCCCCC;
	text-decoration: none;
}

#nav .active a {
	color: white;
	text-decoration: none;
}

#nav li a:hover {
	color: white;
	text-decoration: none;
}

#nav img {
	height: 16px;
}

.right {
	margin: 0px;
	padding: 0px;
	float: right;
}

#nav .right img {
	height: 20px;
}

#home-w img:hover {
	content: url('images/House_Logo_gray.png');
}
#mail-w img:hover {
	content: url('images/Mail_Logo_gray.png');
}
#github-w img:hover {
	content: url('images/Github_Logo_gray.png');
}
#link-w img:hover {
	content: url('images/Linkedin_Logo_gray.png');
}
#spotify-w img:hover {
	content: url('images/Spotify_Logo_gray.png');
}

#home-g img:hover {
	content: url('images/House_Logo_white.png');
}
#mail-g img:hover {
	content: url('images/Mail_Logo_white.png');
}
#github-g img:hover {
	content: url('images/Github_Logo_white.png');
}
#link-g img:hover {
	content: url('images/Linkedin_Logo_white.png');
}
#spotify-g img:hover {
	content: url('images/Spotify_Logo_white.png');
}

h1 {
	text-align: center;
	margin: 30px auto 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 40px;
	color: #444444; /*#CCABAB; #444444;*/
}