body {
	background-color: black;
	color: white;
	font-family: "Quicksand", Arial, sans-serif;
	padding: 0px 50px 0px;
}

h1 {
	background-color: green;
	text-align: center;
	margin: 0px auto 0px;
	padding-top: 100px;
	padding-bottom: 50px;
	font-size: 70px;
}

.buttons {
	margin: 50px 0px 0px;
	background-color: red;
}

.buttons a {
	float: left;
	clear: both;
	width: 500px;
	margin: 10px auto 0px;
	background-color: orange;
}

.buttons a:hover {
	background-color: grey;
}

.buttons img {
	width: 50px;
	padding: 0px 10px 0px;
}
